<form [formGroup]="theForm" (ngSubmit)="onSubmit()" class="login-form">
  
  <mat-form-field appearance="standard">
    <mat-label>Username</mat-label>
    <input matInput placeholder="username" formControlName="username" autocomplete="none" >
    <mat-error>{{ displayControlError('username') }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="password" formControlName="password" autocomplete="new-password" >
    <mat-error>{{ displayControlError('password') }}</mat-error>
  </mat-form-field>

  <div class="text-center">
    <button mat-raised-button button-loader color="primary" class="btn-submit" >
      <span class="txt">Login</span>
    </button>
    
  </div>

</form>